  /*font family*/
  --font-family-list:                  ;/*列表字体*/
  --font-family-major:                 ;/*主体（包括列表）字体，除代码框等少数部分*/
  --font-family-h1:  "Noto Sans Black","Noto Sans CJK TC Black"    ;
  --font-family-h2:  "Noto Sans Black","Noto Sans CJK TC Black"    ;
  --font-family-h3:  "Noto Sans Black","Noto Sans CJK TC Black"    ;
  --font-family-h4:  "Noto Sans Black","Noto Sans CJK TC Black"    ;
  --font-family-h5:                    ;
  --font-family-h6:                    ;
  --font-family-title:                 ;/*文件抬头标题*/
  --font-family-folder-file-title:     ;/*左侧边栏文件、文件夹字体*/
  --font-family-preview-code:          ;
  --font-family-tag:                   ;
  --font-family-vault:                 ;/*左侧库名字体*/
  --font-family-interlinear: "SBL BibLit";
  --font-family-annotation: "Arial Narrow";
} 

.theme-dark {
  --background-primary: #333333; 
  --background-primary-alt: #3d3d3d;
  --background-secondary: #252525;
  --background-secondary-alt: #000000; 
  --background-accent: #000;
  --background-modifier-border: #565656;
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #539126;
  --background-modifier-error: #9b4343;
  --background-modifier-error-rgb: 155,67,67;
  --background-modifier-error-hover: #470000;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: #53aaf5;
  --text-accent-hover: #3e8de7; 
  --text-normal: #d8d8d8; 
  --text-muted: #8b8b8b;  
  --text-faint: rgb(121, 121, 121);
  --accent-strong: #ffffff;
  --text-error: #e16d76;
  --text-error-hover: #c9626a;
  --text-highlight-bg: #bb7900d2;
  --text-selection: #e6c2755e;
  --text-on-accent: #dcddde;
  --interactive-normal: #20242b;
  --interactive-hover: #353b47;
  --interactive-accent: #3187d3; 
  --interactive-accent-rgb: 45, 135, 211;     
  --interactive-accent-hover: #3e8de7;
  --panel-border-color: #18191e;
  --search-text: #e0e0e0;
  --folder-title: #ffffff;
  --mark-highlight: #bb7900d2;

  --gray-1: #5C6370;
  --gray-2: #abb2bf;
  --red: #e06c75;
  --orange: #d19a66;
  --green: #98c379;
  --aqua: #56b6c2;
  --purple: #c678dd;
  --blue: #61afef;
  --yellow: #e5c07b;
  --yykys: #5c67996c;   
  --btys: #7292B1;
  --bqys: #ffffff;
  --bqds: #404b5ef5;  
  --zzsyck: #3187d3; 
  --btblj: #96b7e4; 
  --dgxs: #515953; 
  --ztys:  #3187d3;
  --ztysop: #3187d388;
  --color-specification: #3ce252;

  /*tags*/
  --tag1: #cf0000;
  --tag2: #cf7c00;
  --tag3: #00a71c;
  --bqys1: #f37575bb;
  --bqys2: #d39461bb;
  --bqys3: #c7cc37bb;
  --bqys4: #8fd389bb;
  --bqys5: #5ccbcfbb;
  --bqys6: #5b94d6bb;
  --bqys7: #9859e0bb;
  --bqys8: #cd64d6bb;
  --bqys9: #b3b3b3bb;

  /*titles*/
  --h1ys: #7aaed8;
  --h2ys: #77cf7b;
  --h3ys: #cecf70;
  --h4ys: #d4a55e;
  --h5ys: #cc5353;
  --h6ys: #c262df;

  /*graph*/
  --tpsh: #3187d3; 
  --tpwzys: #B5B5B5; 
  /*--graphtag: #d1d43eb2;
  --graph-attach: #4ad43eb2;
  --graph-circle: #99b4d8b2;
  --graph-line: #646464;
  --graph-unresolved: #db4e4eb2;*/
  --graphtag: #88d842bb;
  --graph-attach: #b2cfe0bb;
  --graph-circle: #55a2d6bb;
  --graph-line: #646464;
  --graph-unresolved: #f08080de;
  --graph-arrow: #c23917;

  /*mermaid*/
  --mermaid-active-task-color: #187ef1;
  --mermaid-seq-dia-color: #1371be;

  /*table*/
  --table-background-color: #4d4d4d;
  --table-background-color-odd: #333333;
  --table-border-color: #c0c0c0;
  --table-thead-background-color: #4e6a85;
  --table-hover-raw-color: #3187d33d;
  --table-hover-color: #3187d388;
  --table-hover-thead-color: #6fa084;

  /*calendar*/
  --calendar-week-color: #a2df94;
  --calendar-week-hover: #61815c;
  --calendar-week-background-color: #4a5842;

  /*day planner*/
  --day-planner-pie: #f19c1c;
  --day-planner-timeline: #000000;
  --day-planner-line: #dfcf77;
  --day-planner-dot: #dfcf77;
  --day-planner-item-hover: #053c85;
  --event-item-color1: #283493bb;
  --event-item-color2: #1565c0bb;
  --event-item-color3: #00838fbb;
  --event-item-color4: #2e7d32bb;
  --event-item-color5: #9e9d24bb;
  --event-item-color6: #ff8f00bb;
  --event-item-color7: #d84315bb;
  --event-item-color8: #c62828bb;
  --event-item-color9: #ad1457bb;
  --event-item-color10:#6a1b9abb;
}

.theme-light {
  --background-primary: #ffffff;
  --background-primary-alt: #f8f8f8;
  --background-secondary: #ececec;
  --background-secondary-alt: #dadada;
  --background-accent: #fff;
  --background-modifier-border: #e1dfdf;
  --background-modifier-form-field: #fff;
  --background-modifier-form-field-highlighted: #fff;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-success: #A4E7C3;
  --background-modifier-error: #e68787;
  --background-modifier-error-rgb: 230, 135, 135;
  --background-modifier-error-hover: #FF9494;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --text-accent: #007de4;
  --text-accent-hover: #4ba8ff;
  --text-normal: #000000;
  --text-muted: #666666;
  --text-faint: #7a7a7a;
  --accent-strong: #000000;
  --text-error: #e75545;
  --text-error-hover: #f86959;
  --text-highlight-bg: #ffaa00a4;
  --text-selection: #ffe23d48;
  --text-on-accent: #f2f2f2;
  --interactive-normal: #eaeaeb;
  --interactive-hover: #dbdbdc;
  --interactive-accent-rgb: 70, 142, 235;
  --interactive-accent: #2f92e4;
  --interactive-accent-hover: #4ba8ff;
  --panel-border-color: #dbdbdc;
  --search-text: #000000;
  --folder-title: #000000;
  --mark-highlight: #ffaa00a4;  

  --gray-1: #383a42;
  --gray-2: #383a42;
  --red: #e75545;
  --green: #4ea24c;
  --blue: #3d74f6;
  --purple: #a625a4;
  --aqua: #0084bc;
  --yellow: #e5c07b;
  --orange: #db9600;
  --yykys: #468eeb27;
  --btys: #b6bdc0;
  --bqys: #ffffff;
  --bqds: #eaeaea;
  --zzsyck: #2f92e4;
  --btblj: #2f92e4;
  --dgxs: #d0d3d5;
  --ztys:  #2f92e4;
  --ztysop:#2f92e4a2;
  --color-specification: #0084ff;
 
  /*tags*/
  --tag1: #ff0000;
  --tag2: #ff9900;
  --tag3: #00a030;
  --bqys1: #e77e7e;
  --bqys2: #dbb671;
  --bqys3: #cacc41;
  --bqys4: #5dcf53;
  --bqys5: #49c9ce;
  --bqys6: #6da1dd;
  --bqys7: #9270db;
  --bqys8: #e277d9;
  --bqys9: #6b6b6b;

  /*Titles*/
  --h1ys: #08367c;
  --h2ys: #004faa;
  --h3ys: #0e64bb;
  --h4ys: #3481c5;
  --h5ys: #59a0e2;
  --h6ys: #88b8e6;

  /*graph*/
  --tpsh: #2f92e4; 
  --tpwzys: #696969;
  --graphtag: #77d425cc;
  --graph-attach: #afcfe0cc;
  --graph-circle: #1f78b4cc;
  --graph-line: #dadada;
  --graph-unresolved: #db4e4ecc; 
  --graph-arrow: #e25300; 

  /*mermaid*/
  --mermaid-active-task-color: #44bbff;
  --mermaid-seq-dia-color: #76c8ff;

  /*table*/
  --table-background-color: #ebebeb;
  --table-background-color-odd: #ffffff;
  --table-border-color: #555555;
  --table-thead-background-color: #bfddf5;
  --table-hover-raw-color: #2f93e42f;
  --table-hover-color: #2f93e47c;
  --table-hover-thead-color: #cde8ff;

  /*calendar*/
  --calendar-week-color: #48b432;
  --calendar-week-hover: #e9ffe3;
  --calendar-week-background-color: #d6e6bf;

  /*day planner*/
  --day-planner-pie: #eca95c;
  --day-planner-timeline: #d62f2f;
  --day-planner-line: #ffd900;
  --day-planner-dot: #ffd900;
  --day-planner-item-hover: #c29810;
  --event-item-color1: #65ace6;
  --event-item-color2: #52a4e7;
  --event-item-color3: #2e96eb;
  --event-item-color4: #2786da;
  --event-item-color5: #1275cc;
  --event-item-color6: #2664c0;
  --event-item-color7: #1652ac;
  --event-item-color8: #0c469c;
  --event-item-color9: #0a3c86;
  --event-item-color10:#072f6b;
}

/*====================================*/
/* ruby */
ruby {
	display: inline-flex;
	flex-direction: column-reverse ;
	align-items: center;
	font-family: var(--font-family-interlinear);
	margin-bottom: 2px;
	line-height: 1em;
  
  }
  
rt {
	font-family: var(--font-family-annotation);
	font-size: 0.6em;
  }
/*====================================*/
/* list */
li{
  font-family: var(--font-family-annotation);
  }

  /*====================================*/
/*Add vertical lines of embedded lists*/
/*thanks to loikein and death_au from forum and icr1001 from GitHub*/
.cm-hmd-list-indent .cm-tab,
ul ul,
ol ul,
ul ol,
ol ol {
  position: relative;
}

.cm-hmd-list-indent .cm-tab::before,
ul ul::before,
ol ul::before,
ul ol::before,
ol ol::before {
  content:'';
  border-left: 1px dotted var(--background-modifier-border);
  position: absolute;
}

ul ul::before,
ol ul::before,
ul ol::before,
ol ol::before {
  left: -13px;
  top: 0;
  bottom: 0;
} 

.cm-hmd-list-indent .cm-tab::before {
  left: 3px;
  top: -5px;
  bottom: -4px;
}
/*====================================*/