---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Noto+Sans+TC&display=swap');

/* 設定字型 */

@font-face {
	font-family: AndleyFont;
	unicode-range: U+0370-03FF, U+1F00-1FFF; /* Greek UNICODE */
	src: local("Gentium Book Plus");
  }
  @font-face {
	font-family: AndleyFont;
	unicode-range: U+0590-05FF, U+FB10-FB4F; /* Hebrew UNICODE */
	src: local("SBL Hebrew");
  }
  @font-face {
	font-family: AndleyFont;
	unicode-range: U+00-024F; /* English UNICODE */
	src: local("Noto Sans");
  }
  @font-face {
	font-family: AndleyFont;
	unicode-range: U+4E00-9FFF, U+3400-4DBF, U+20000-2A6DF, U+2A700–2B73F, U+2B740–2B81F, U+2B820–2CEAF, U+F900-FAFF, U+2F800-2FA1F; /* 中文 UNICODE */
	src: local("Noto Sans CJK TC");
  }
  
  /* ———————— */

  @font-face {
	font-family: InterlinearFont;
	unicode-range: U+0370-03FF, U+1F00-1FFF; /* Greek UNICODE */
	src: local("Gentium Plus");
  }
  @font-face {
	font-family: InterlinearFont;
	unicode-range: U+0590-05FF, U+FB10-FB4F; /* Hebrew UNICODE */
	src: local("SBL Hebrew");
  }
  @font-face {
	font-family: InterlinearFont;
	unicode-range: U+00-024F; /* English UNICODE */
	src: local("Arial Narrow");
  }
  @font-face {
	font-family: InterlinearFont;
	unicode-range: U+4E00-9FFF; /* 中文 UNICODE */
	src: local("Noto Sans CJK TC");
  }

  body {
    font-family: 'Gentium Book Plus', 'Noto Serif Hebrew', 'Noto Sans TC', 'Noto Sans SC';
    color: black;
  }

  h1 {
    color: #C00000;
    text-align: center;
    border-bottom: 4px double ;
  }

  h2 {
    text-align: center;
  }

  h2, h3, h4, h5, h6 {
    margin-top: 10px;
    color:black;
  }

  ul   {
    margin-bottom: 0em;
  }

  ruby {
    font-family: AndleyFont;
    font-size: 16px;
    line-height: 4.5em;
    padding: 0 1px;
  }

  li ruby {
    line-height: 3.5em;
  }

  li {
    line-height:1.5em;
  }
  
  rt {
    font-family: InterlinearFont;
    text-align: center;
    font-size:13px;
    padding: 0 2px;
  }

  
/* --------------------------------------------   */
.verb { color: red; }
.ptc  { color: blue; }
.inf  { color: green; }
.punctuation { font-weight:bolder;}
.poetry::before {content:'\a                 '; white-space: pre;}
.paragraph::after {content:'\a          '; white-space: pre;}
/* --------------------------------------------   */



/* ══════════════════════════ */
  /* page layout */
  header {
    padding: 20px 20px 5px 20px;
  }

  section {
    margin-top: 100px;
    padding-top:20px;
  }

  section.footnotes {
    width: 90%;
    margin-top: 30px;
  }

    /* offset anchor tag link */
  
:target {
    padding-top: 115px;
    margin-top: -115px;
}


/* ══════════════════════════ */
  /* table */
  table {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    color: black;
    font-family: AndleyFont, "Noto Sans", "Noto Sans TC", sans-serif;
  }
  
  th {
    border-bottom: double;
    border-bottom: 3px double;
  }
  tr:nth-child(even) {
      background-color: rgb(230, 232, 227);
}



/* ══════════════════════════ */
/* BULLET POINT RELATIONSHIP LINES */
ul ul { position: relative; }
ul ul::before {
 content:'';
 border-left: 1px solid grey ;
 position: absolute;
}
ul ul::before { left: -7px; top: 0; bottom: 0; 
} 

  ul li::marker {
    content: '• ';
  }

  nav {
    ul li::marker {
      content: none;
    }
  }